# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    #Amazon parameters
    awsAssociateTag: iberoamericanmovies-20
    awsAccessKeyId: 0AWJP8D8389B9HRTJT02
    awsSecretKey: DAlJKgz8i6YcGx34luI5kAspQwnvS/67ztaAcPcN

    #RottenTomatoes parameters
    rottenTomatoesApiKey: nzdpbvnqsj62s3ffs7qhre3w

    #Youtube
    googleAppName: moviesautoposter
    googleApiKey: AIzaSyCUsE0kFRly88x2V62Z6WdlZH1H_TItUYE
    googleSearchId: 017167652660210911387:wsmv3qmitug